../../../.gitconfig
        ../../../AppData/
        ../../../Contacts/
        ../../
        ../../../Documents/
        ../../../Downloads/
        ../../../Favorites/
        ../../../IdeaProjects/
        ../../../IntelGraphicsProfiles/
        ../../../Links/
        ../../../Music/
        ../../../NTUSER.DAT
        ../../../NTUSER.DAT{cb969ac5-9825-11ed-a791-df1fdc4f610a}.TM.blf
        ../../../NTUSER.DAT{cb969ac5-9825-11ed-a791-df1fdc4f610a}.TMContainer00000000000000000001.regtrans-ms
        ../../../NTUSER.DAT{cb969ac5-9825-11ed-a791-df1fdc4f610a}.TMContainer00000000000000000002.regtrans-ms
        ../../../OneDrive/
        ../../../Pictures/
        ../../../Saved Games/
        ../../../Searches/
        ../../../Tracing/
        ../../../Videos/
        ../../../index.html
        ../../../ntuser.dat.LOG1
        ../../../ntuser.dat.LOG2
        ../../../ntuser.ini